<?xml version='1.0' encoding='utf-8'?>
<plugin id="id.agusibrahim.swarmify" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	<name>Swarmify</name>
	<description>Swarmify my awesome plugin</description>
	<author>Agus Ibrahim</author>
	<js-module name="Swarmify" src="www/Swarmify.js">
		<clobbers target="Swarmify"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Swarmify">
				<param name="android-package" value="id.agusibrahim.swarmify.Swarmify"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		</config-file>
		<source-file src="src/android/Swarmify.java" target-dir="src/id/agusibrahim/swarmify"/>
		<framework src="swarmlib" custom="true" />
	</platform>
</plugin>
